{% extends 'Admin.base.html.twig' %}

{% block title %}Modifier : {{ software.name }}{% endblock %}

{% block body %}

    <div class="ui content">
        <h2 class="ui header" title="{{ "ID : " ~ software.id }}">
            Modifier : {{ software.name }}
        </h2><br>

        {% for msg in app.flashes('error') %}
            {{ component('Alert', {type: 'error', text: msg}) }}
        {% endfor %}

        {% for msg in app.flashes('success') %}
            {{ component('Alert', {type: 'success', text: msg}) }}
        {% endfor %}

        <br><form method="POST" class="ui form">
            {{ form_start(form) }}

            <div class="field">
                <label>Nom</label>
                {{ form_row(form.name) }}
            </div>

            <div class="field">
                {{ form_widget(form.submit, { label_html: true }) }}
            </div>

            {{ form_end(form) }}
        </form>

    </div>

{% endblock %}
