{% extends 'Admin.base.html.twig' %}

{% block title %}Nouveau serveur{% endblock %}

{% block body %}

    <div class="ui content">
        <h2 class="ui header">
            Nouveau serveur
        </h2><br>

        {% for msg in app.flashes('error') %}
            {{ component('Alert', {type: 'error', text: msg}) }}
        {% endfor %}

        {% for msg in app.flashes('success') %}
            {{ component('Alert', {type: 'success', text: msg}) }}
        {% endfor %}

        <br><form method="POST" class="ui form">
            {{ form_start(createServerForm) }}

            <div class="three fields">
                <div class="field">
                    <label>Nom du serveur (obligatoire)</label>
                    {{ form_row(createServerForm.name) }}
                </div>
                
                <div class="field">
                    <label>Client (obligatoire)</label>
                    {{ form_widget(createServerForm.customer) }}
                </div>

                <div class="field">
                    <label>Type</label>
                    {{ form_widget(createServerForm.type) }}
                </div>
            </div>

            <div class="five fields">
                <div class="field">
                    <label>IP Locale</label>
                    {{ form_row(createServerForm.localIp) }}
                </div>

                <div class="field">
                    <label>IP Publique</label>
                    {{ form_row(createServerForm.publicIp) }}
                </div>

                <div class="field">
                    <label>Prise de main</label>
                    {{ form_widget(createServerForm.remoteControl) }}
                </div>

                <div class="field">
                    <label>Identifiant</label>
                    {{ form_row(createServerForm.login) }}
                </div>

                <div class="field">
                    <label>Mot de passe</label>
                    {{ form_row(createServerForm.password) }}
                </div>
            </div>

            <div class="field">
                <label>Commentaire</label>
                {{ form_row(createServerForm.comment) }}
            </div>

            <div class="field">
                {{ form_widget(createServerForm.submit, { label_html: true }) }}
            </div>

            {{ form_end(createServerForm) }}
        </form>


    </div>

{% endblock %}
